## .NET
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.vspx
*.vssscc
*.psess
*.vsp
*.pidb
*.svclog
*.scc

## Rider / VS Code
.idea/
.vscode/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Secrets
appsettings.*.local.json
*.pfx
*.key

## Docs tooling
docs/plantuml.jar
